*{
    background: rgb(80, 80, 80);
    overflow-x: hidden;
}

nav{
    color: aliceblue;
}

nav button{
    height: 22px;
    width: 70px;
    margin-top: 10px;
    color: aliceblue;
}

button:hover{
    background: rgb(214, 209, 209);
}

.content{
    padding: 250px 0px 0px 300px;
}

input, select{
    margin-top: 10px;
    color: rgb(255, 255, 255);
}

select:hover{
    background: rgb(116, 116, 116);
}

input:hover{
    color: rgb(255, 255, 255);
    background: rgb(116, 116, 116);
}

.rasp{
    width: 400px;
}

.name{
    color: aliceblue;
}

.crt{
    margin-top: 20px;
    margin-left: 520px;
    height: 30px;
    width: 100px;
    background: rgb(112, 112, 112);
}

