*{
    background: rgb(80, 80, 80);
    overflow-x: hidden;
}

nav{
    color: aliceblue;
}

nav button{
    height: 22px;
    width: 70px;
    margin-top: 10px;
    color: aliceblue;
}

button:hover{
    background: rgb(214, 209, 209);
}