*{
    background: #2c3632;
    overflow-x: hidden;
    font-family: sans-serif;
}

button, 
button:active, 
button:focus,
input:focus {
    outline: none;
}


.menu{
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text{
    margin-left: 50px;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.menu button{
    height: 50px;
    width: 220px;
    color: aliceblue;
    background: #3d6a66;
    border-radius: 21px;
    border: 0px;
}

button:hover{
    background: #899593;
}

nav h1{
    position: relative;
    left: -25px;
}